body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #F5EFEA;
}

.dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: #8B5E3C;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar li:hover,
.sidebar .active {
  background: #A97458;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

/* Topbar */
.topbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.topbar input {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Stats */
.stats {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Orders Table */
.orders {
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  text-align: center;
}

th {
  background: #8B5E3C;
  color: white;
}

button {
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.deliver {
  background: green;
  color: white;
}

.pending {
  background: orange;
  color: white;
}